body{
margin:0;
font-family:Arial;
background:#f1f5f9;
}

.header{
background:#0f172a;
color:white;
padding:15px;
text-align:center;
}

#reader{
width:280px;
margin:20px auto;
border:4px solid #22c55e;
border-radius:12px;
}

.panel{
background:white;
margin:15px;
padding:15px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,.1);
text-align:center;
}

.foto{
width:120px;
height:120px;
border-radius:50%;
display:none;
margin:auto;
}

.nombre{
font-size:26px;
font-weight:bold;
}

.estado{
font-size:28px;
margin-top:10px;
}

.mensaje{
margin-top:10px;
color:#64748b;
}

.dashboard{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
padding:10px;
}

.card{
padding:15px;
border-radius:10px;
text-align:center;
color:white;
}

.verde{background:#22c55e;}
.amarillo{background:#eab308;}
.rojo{background:#ef4444;}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
border:1px solid #ddd;
padding:8px;
text-align:center;
}

@media(max-width:700px){

.dashboard{

grid-template-columns:1fr;

}

#reader{

width:95%;

}

.foto{

width:100px;
height:100px;

}

.nombre{

font-size:20px;

}

.estado{

font-size:22px;

}

table{

font-size:12px;

}

}
